.body{
    font-family: sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vw;
    align-self: center;
    margin-top: 14vh;
    margin-left: 180px;
}
.email-field {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 40px;
}
.pass-field {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    margin-left: 50px;
}
.btn {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

